<div class="container">
    <div class="wrapper">
      <div class="column">
        <div class="flex-column">
          <div class="logo">
            <img
              loading="lazy"
              src="assets/logo.svg"
              class="img"
            />
            <div class="logo-name">CauseHarbor</div>
          </div>
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/4ecd4d951ed98c963eb9ab765483c17102b605973f7ab8b7989196b315a37305?apiKey=11ca6ebf910046a3a6396a4c8195d11d&"
            class="img-2"
          />
          <div class="welcome-text">Welcome Home</div>
          <div class="signin-text">Sign in to your Account</div>
        </div>
      </div>
      <div class="column-2">
        <div class="column-wrapper">
          <div class="no-account">
            Do not have an account yet?
            <a routerLink="/signup" style="font-weight: 700">Sign up</a>
          </div>
          <div class="fill-details">
            <div class="fill-details-text">Fill in your account details</div>
            <input placeholder="E-mail" type="email" class="email"/>
            <input type="password" placeholder="Password" class="password"/>

            
        
            <div class="tnc">
              <div class="terms-agreement">
                By continuing, you agree to the CauseHarbors to the terms of service and privacy policy.
              </div>
              <a routerLink="/sigin" class="signin">Sign In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
