<header></header>
<cta-div></cta-div>
<how-div id="how-it-works"></how-div>
<why-div></why-div>
<div style="display: flex; margin: 64px;">
    <why-subdiv title="Community Engagements" description="We engage the world on the opportunities they could take hold of in making things better"></why-subdiv>
    <why-subdiv title="Fundraising support " description="We provide a Platform to help you raise funds for the greater good "></why-subdiv>
    <why-subdiv title="Masses at heart " description="Its all about helping the people"></why-subdiv>
    <why-subdiv title="straight to the Ngo " description="we act as the intermediary to the NGO, your funds are direct"></why-subdiv>
</div>
<causes></causes>
<faq></faq>
<footer></footer>

