<div class="container">
    <div class="wrapper">
      <div class="column">
        <div class="flex-column">
          <div class="logo">
            <img
              loading="lazy"
              src="assets/logo.svg"
              class="img"
            />
            <div class="logo-name">CauseHarbor</div>
          </div>
          <img
            loading="lazy"
            src="assets/back-icon.svg"
            class="img-2"
          />
          <div class="welcome-text">Start your Journey</div>
          <div class="signin-text">Empower your cause with <span style="color: #7E21D4;">CauseHarbor</span></div>
        </div>
      </div>
      <div class="column-2">
        <div class="column-wrapper">
          <div class="no-account">
            Do not have an account yet?
            <a routerLink="/signup" style="font-weight: 700">Sign up</a>
          </div>
          <form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
            <div class="fill-details">
              <div class="fill-details-text">Create your account</div>
              <input placeholder="Username" type="text" class="email" formControlName="name" />
              <input placeholder="E-mail" type="email" class="email" formControlName="email"/>
              <input type="password" placeholder="Password" class="password" formControlName="password"/>
              <input type="password" placeholder="Re-type Password" class="password" 
              formControlName="confirmPassword"/>
              <div class="tnc">
                <div class="terms-agreement">
                  By continuing, you agree to the CauseHarbors to the terms of service and privacy policy.
                </div>

                <button type="submit" class="signin">{{ formLoading ? "Submitting" : "Sign up" }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
