
    <div>
      <div class="div">
        <div class="column">
          <div class="div-2">
            <div class="div-3">Support. donate. change lives</div>
            <div class="div-4">
              <span style="font-weight: 400; color: rgba(126, 33, 212, 1)">
                Empower
              </span>
              <span style="font-weight: 400">Causes, Change Lives -</span>
              <span style="font-weight: 400; color: rgba(126, 33, 212, 1)">
                Together
              </span>
            </div>
            <div class="div-5">
              <a class="div-6" routerLink="/donate">Donate to a Cause</a>
              <a class="div-7" routerLink="/start">Start a Cause</a>
            </div>
          </div>
        </div>
        <div class="column-2">
          <img
            loading="lazy"
            src="assets/landing.png"
            class="img"
          />
        </div>
      </div>
    </div>
  
