<div class="container">
    <div class="wrapper">
      <div class="column">
        <div class="flex-column">
          <div class="logo">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/235fdaaf1fc1a87570049cef634e100901e21013e8de8be1c037222bb47e67ed?apiKey=11ca6ebf910046a3a6396a4c8195d11d&"
              class="img"
            />
            <div class="logo-name">CauseHarbor</div>
          </div>
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/4ecd4d951ed98c963eb9ab765483c17102b605973f7ab8b7989196b315a37305?apiKey=11ca6ebf910046a3a6396a4c8195d11d&"
            class="img-2"
          />
          <div class="welcome-text">Welcome Home</div>
          <div class="signin-text">Let's make the world a better a Place</div>
        </div>
      </div>
      <div class="column-2">
        
            <div class="column-wrapper">
              <div class="cta-text">
                <span style="font-weight: 400; color: rgba(126, 33, 212, 1)">
                  Empower
                </span>
                <span style="font-weight: 400">Causes, Change Lives -</span>
                <span style="font-weight: 400; color: rgba(126, 33, 212, 1)">
                  Together
                </span>
              </div>
              <div class="register">
                <a routerLink="/signup/donor" class="register-donor">Register as a donor</a>
                <a routerLink="/signup/ngo" class="register-ngo">Register as an Ngo</a>
              </div>
        
          </div>  
        
      </div>
    </div>
  </div>
