<div class="div">
    <div class="div-2">
      <div class="div-3">
        Let us make the world a better Place by helping the greater good
      </div>
      <a class="div-4" routerLink="/signup">Get started</a>
      <div class="div-5">
        <div class="div-6">
          <div class="column">
            <div class="div-7">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/10823eaf0411d35fa66493a5159754d6497f4bebd3c9aac3679be00888c4a6d0?apiKey=11ca6ebf910046a3a6396a4c8195d11d&"
                class="img"
              />
              <div class="div-8">CauseHarbor</div>
            </div>
          </div>
          <div class="column-2">
            <div class="div-9">
              <div class="div-10">Stay Connected and contact us</div>
              <div class="div-11">
                <a href="https://facebook.com">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/0bcd3be68acc02d073b4af94aa4412e4819c1a36dc0a1ef3e9f286f350a455c6?apiKey=11ca6ebf910046a3a6396a4c8195d11d&"
                  class="img-2"
                />
                </a>

                <a href="https://linkedin.com">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/65324ae7b53347a168ba798f8354bdfe749aa0391fb8d35769ed7972c33b0cd1?apiKey=11ca6ebf910046a3a6396a4c8195d11d&"
                  class="img-3"
                />
                </a>

                <a href="https://instagram.com">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/b1d44fe05f507864cf899aaa2cbf3757fe8e2232341264247c68549472e24bc1?apiKey=11ca6ebf910046a3a6396a4c8195d11d&"
                  class="img-4"
                />
              </a>

              <a href="https://twitter.com">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/b2ee0b93ebcfb283714fe6f07402f6781c2ce0df21267eeae52c696bc3cc5766?apiKey=11ca6ebf910046a3a6396a4c8195d11d&"
                  class="img-5"
                />
            </a>
              </div>
              <div class="div-12">© 2024, All rights reserved</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>